.mat-table {
  overflow: auto;
  height: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

mat-form-field {
  width: calc(100% - 80px);
  margin: 30px;
  margin-bottom: 0px;
}

.content{
  min-height: 440px;
}
.results{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
